<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Book</title>
  </head>

  <body>
    <h1>Book ID {{book.id}}</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>TITLE</th>
        <th>DESCRIPTION</th>
      </tr>
      <tr>
        <td>{{book.id}}</td>
        <td>{{book.title}}</td>
        <td>{{book.description}}</td>
      </tr>
    </table>
  </body>
</html>